/* header logo  */
.navbar-brand{
   margin-left: 100px;
   margin-right: 350px;
}

.nav-link{
    font-size: 20px;
    font-weight: 500;
    margin: 1rem;
    color: rgb(93, 94, 95);

 }

 .nav-link:hover{
    color: rgb(0, 0, 0);
 }

 @media only screen and (min-width: 100px) and (max-width: 900px){
   .navbar-brand{
      margin-left: 30px;
      margin-right: 80px;
   }
 }