@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@500&family=Grand+Hotel&family=Poppins:wght@600;800;900&display=swap");
.home-left {
  background-image: url("../../../assets/images/baner-dec-left.png");
  background-repeat: no-repeat;
}

.carousel-item {
  margin-left: 8%;
  margin-top: 30px;
}

h1 {
  font-size: 45px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
h2{
    font-size: 35px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    
}

h4{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-transform: capitalize;
}

p{
  color: rgb(112, 111, 111);
}
.color-1 {
  color: #03a4ed;
}

.color-2 {
  color: #ff695f;
}
.carousel-item h5 {
  color: #ff776d;
}

.home-p {
  font-size: 20px;
  color: #414141;
}
 
.btn-blue {
  display: inline-block;
  background-color: #03a4ed;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 23px;
  letter-spacing: 0.25px;
  border: 0px;
}
.phn-icon{
  display: inline-block;
 background-color: #ff695f;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  padding: 3px 8px;
  border-radius: 23px;
  letter-spacing: 0.25px;
  border: 0px;
  margin-top: 5px;
}

.btn-blue:hover {
  background-color: #ff695f;
}

.number {
  font-size: 20px;
  color: #ff776d;
  font-weight: 500;
}

.home-container {
  margin: 0px;
  padding: 0px;
}
.home-left {
  display: inline-block;
}
.home-right {
  margin: 0px;
  padding: 0px;
}

@media screen and (min-width: 1000px) and (max-width: 1360px) {
  .home-right img {
    width: 95%;
  }

  .home-left {
    width: 70%;
  }

  .carousel-item h1 {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    overflow-wrap: break-word;
  }
  .home-p {
    font-size: 15px;
    color: #414141;
  }
}

@media only screen and (max-width: 1000px) {
  .home-right {
    display: none;
    visibility: hidden;
  }
}
