.about-p{
    color: #FF75A2;
}

.about-left img{
    margin-top: 80px;
    width: 500px;
    margin-left: 5%;
}

 
@media only screen and (max-width: 700px) and (min-width: 300px)  {
    .about-service{
        text-align: center;
    }

   
}

@media only screen and (min-width: 250px) and (max-width: 800px){
    .about-left img{
        width: 250px;
        margin-left: 20px;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1200px){
    .about-left img{
        width: 350px;
        margin-left: 60px;
    }
}

 
